#!/usr/bin/env bash

# Apple ID credentials
username="itunesaccount@youraddress.com"
password="password"

itmst_location="/Applications/Transporter.app/Contents/itms/bin/iTMSTransporter"

default_locale="en-US"
targeted_version="1.6"

app_id="1234567890"
app_platform="ios"

# app_id="1234567890"
# app_platform="appletvos"

# app_id="0123456789"
# app_platform="osx"

